:root {
    --main-bg-color: #0A0A0A;

    --main-btn-selected: #D3D3D3;
    --main-btn-selected-text: #000000;

    --main-shape-bg: #151515;
    --main-shape-text: #FFFFFF;

    --main-table-bg: #161514;
    --main-table-text: #FFFFFF;
    --main-table-column-bg: #232323;
    --main-table-header-text: #A4A4A4;

    --main-outline-color: #FFFFFF;

    --transition-time: 0.3s;
    }

  body {
      width: 97%;
      background: var(--main-bg-color);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-family: sans-serif;
      /* font-weight: bold; */
      margin: 1rem;
      color: #d9d9d9;
  }
  img {
      border-radius: 50%;
  }
  ::-webkit-scrollbar {
      width: 5px;
  }

  html {
    /* font-family: Roboto; */
    background-color: var(--background);
}

.main {
    width: fit-content;
    margin: auto;
}

.top-table {
    border-spacing: 30px;
}

.options-card, .map-card, .weapons-card{
    width: fit-content;
    background-color: var(--main-shape-bg);
    color: var(--main-shape-text);
    border-radius: 10px;
}

.records-card {
    width: fit-content;
    background-color: var(--main-table-bg);
    color: var(--main-table-text);
    border-radius: 10px;
}

.records-card-header-row {
    color: var(--main-table-header-text);
    border-bottom: 1px solid var(--main-table-header-text);
}

.records-card-body-row {

}

.options-card-content, .map-card-content {
    padding: 10px;
    border-spacing: 10px;
}

.weapons-card-content {
    padding: 10px;
    margin: auto;
    /* border-spacing: 15px; */
    width: 100%;
}

.records-card-content {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.main-button,
.main-button:link,
.main-button:visited,
.main-button:active,
.route-button,
.route-button:link,
.route-button:visited,
.route-button:active,
.weapon-button,
.weapon-button:link,
.weapon-button:visited,
.weapon-button:active {
    line-height: 30px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-color: var(--mainmain);
    border: 1px solid var(--main-outline-color);
    color: var(--secondary);
    border-radius: 20px;
    width: 75px;
    height: 30px;
    -webkit-transition: var(--transition-time);
    transition: var(--transition-time);
}

.player-button {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.route-button,
.route-button:link,
.route-button:visited,
.route-button:active,
.weapon-button,
.weapon-button:link,
.weapon-button:visited,
.weapon-button:active {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

.main-button:hover,
.route-button:hover,
.weapon-button:hover {
    -webkit-transition: var(--transition-time);
    transition: var(--transition-time);
    background-color: var(--main-btn-selected);
    color: var(--main-btn-selected-text);
}

.main-button.active,
.route-button.active,
.weapon-button.active {
    font-weight: bolder;
    background-color: var(--main-btn-selected);
    color: var(--main-btn-selected-text);
}

.weapon-button.disabled,
.main-button.disabled,
.route-button.disabled {
    border: 1px solid var(--main-table-header-text);
    color: var(--main-table-header-text);
}

.weapon-button.disabled:hover {
    background-color: unset;
    color: var(--main-table-header-text);
}

.static {
    color: var(white);
    font-weight: bolder;
}

.records-card-body tr:nth-child(even) {
    /* Add your styling for even rows here */
    /* For example, you can change the background color */
    background-color: var(--main-table-column-bg);
  }

table, td, th {
    border: none;
}

sup {
    color: red;
    font-size: smaller;
}